
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
body {
    background-image: url(https://wallpapercave.com/wp/wp5346443.jpg);
    background-size: cover;
    color: white;
    font-weight: 300;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
div.caixa {
    margin-top: 40%;
}
