* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
html {
    max-width:auto;
}
div.caixa1 {
    padding: 5%;
    width: 94%;
    height: 95%;
    text-align: center;
    margin-top: 21px;
}


body {
    background-image: url(https://wallpapercave.com/wp/wp5346443.jpg);
    background-size: cover;
    color: white;
    font-weight: 300;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    color:blue
}
form input{
    margin-top:5px;
    padding:5px;
    border-radius: 20px;
    width:200px
}
div.caixa{
    margin-top:40%;
}